<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WebappuserMapper">




	<!-- 新增app用户 -->
	<insert id="saveU" parameterType="SignUp">
		insert into webapp_user (
		PASSWORD,
		PHONE
		) values (
		#{password},
		#{phone}
		)
	</insert>
	<!-- check if the user in database -->
	<select id="checkUser" parameterType="String" resultType="java.lang.Integer">
		select
		id
		from webapp_user
		where
		phone = #{phone}
	</select>



	<!-- login -->
	<select id="login" parameterType="Login" resultType="LoginRes">		
			select u.phone, u.id ,u.type ,t.thought from webapp_user u  left JOIN webapp_thought t on(u.id=t.userid)
		where 
		u.phone = #{phone} and 
		u.PASSWORD = #{password}		
	</select>
	
	
	<select id="loginByToken" parameterType="Login" resultType="LoginRes">		
			select u.status ,u.phone, u.id ,u.type ,t.thought from webapp_user u  left JOIN webapp_thought t on(u.id=t.userid)
		where 
		u.phone = #{phone} 		
	</select>
	
	
		
	<select id="searchResident" parameterType="locatRan" resultType="resident">		
		
	</select>
	
	
	

	<!-- 存入location -->
	<update id="saveLocation" parameterType="Login">
		update webapp_user
		set
		lon = #{current_lng},
		lat= #{current_lat},
		status=1
		where
		phone= #{phone}

	</update>
	
	
	
	<!-- update status-->
	<update id="logout" parameterType="String">
		update webapp_user
		set
		status=0
		where
		phone= #{phone}

	</update>





</mapper>